.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  color: #1b1b32;
  font-size: 25px;
  font-family:sans-serif;
  margin: 20px 0;
  text-align: center;
}
html, body{
  color: white;
  background-color: #1b1b32;
  font-family: Lato,sans-serif;
  margin-top: 10px;
}
.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Lista Tareas */
.tareas-lista-principal{
  width: 600px;
  min-height: 600px;
  background-color: #b0b0b5;
  padding: 25px;
  margin: 10px;
  align-content: center;
  border-radius: 26px;
}